*{
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
}

header nav{
    border-bottom: 1px solid #ccc;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    background-color: white;
}

header nav img{
    width: 60px;
    height: 60px;
}

header nav span{
    font-size: 25px;
}

main{
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

.search-form{
    display: flex;
    justify-content: center;
    /* padding: 20px; */;
    gap: 10px;
    height: 40px;
}

.search-form input{
    /* padding: 10px; */
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    font-size: 15px;
    flex-grow: 1;
    padding: 0 10px;
}

.search-form button{
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #000000;
    cursor: pointer;
    font-size: 14px;
    color: white;
    width: 170px;
}

.search-form button::before{
    content: "+";
    padding: 4px;
}

.get-recipe-container{
    background-color: rgb(220, 220, 220);
    padding: 20px;
    border-radius: 10px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.get-recipe-container h3{
    margin-left: 20px;
    font-size: 25px;
}

.get-recipe-container p{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
    color: #666;
}

.get-recipe-container button{
    border-radius: 7px;
    border: 1px solid #ccc;
    background-color: #a26657;
    cursor: pointer;
    font-size: 14px;
    color: white;
    width: 170px;
    margin-right: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.get-recipe-container button:hover{
    background-color: #f1f1f1;
    color: #a26657;
}